@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body {
    display: flex;
    flex-direction: column;
    font-family: 'Alfa Slab One', cursive;
    color: #f84297;
    letter-spacing:3px;
}
header {
    text-align: center;
    margin: 3%;
}
.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.inputs {
    margin: 3% auto;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
input[type=image]{
    border-radius: 30px;
    margin: 1.4rem;
}
.jlo {
    object-fit: cover;
}
.choice:hover {
    box-shadow: -12px 10px 5px 0px #f84297;
    position:relative;
    top:-10px;
    left:-10px;
    display:block;
    z-index:99;
}
.playerSelection {
    box-shadow: -12px 10px 5px 0px #f84297;
    position:relative;
    top:-10px;
    left:-10px;
    display:block;
    z-index:999;
}
.game-output {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    box-shadow: -12px 10px 5px 0px #f84297;
    border-radius: 3rem;
    background-color: #f7f7f7;
    margin-bottom: 3rem;
}
.computer-output {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}
.game-results {
    display: flex;
    flex-direction: column;
    margin: 3rem 2rem 4rem 2rem;
}
.game-end {
    text-align: center;
    display: none;
    color: #fa75b3;
    font-size: 1.7rem;
}
.congrats {
    color: #fa75b3;
    font-size: 1.3rem;
}
.play-again {
    background-color: #f84297;
    color: white;
    font-family: inherit;
    border: none;
    padding: 1.2rem;
    border-radius: 3rem;
}
.play-again:hover {
    box-shadow: -12px 10px 5px 0px #e2e1e1;
}
footer {
    margin-top: 9%;
    font-size: 0.8rem;
    text-align: center;
}

/*responsive layout*/

@media (max-width: 768px) {
    center {
        width: 100%;
    }
    .inputs {
        width: 95%;
        margin: 1%;
        padding: 0;
    }
    input[type=image]{
        width: 30%;
        margin: .5rem;
    }
    header {
        border: solid;
        font-size: 0.9rem;
        border-radius: 30px;
        margin:0.5rem;
    }
    .game-output {
        width: 90%;
        height: fit-content;
        flex-direction: column;
        margin: 0 auto;
    }
    .computer-icon {
        width: 50%;
        height: auto;
        margin: 0;
    }
    .computer-output {
        align-items: center;
    }
    .game-results {
        margin: 4%;
        text-align: center;
    }
    .game-results p {
        margin:.3rem;
        padding: 0;

}